{% extends "master.html" %}
{% load static %}


{% block title %}
    Alfalasi - Privacy Policy
{% endblock title %}


{% block content %}


    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/privacy-policy/">Privacy Policy</a></li>
          </ol>
        </div>
      </nav>
    </div>
    <!-- End Page Title -->

    <h1>Terms of Conditions</h1>
    <h1>Soon ......</h1>

    


{% endblock content %}